body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    text-align: center;
    padding: 20px;
}

h2 {
    color: #333;
}

label {
    display: block;
    font-weight: bold;
    margin-top: 10px;
}

input[type="text"] {
    width: 200px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

button {
    padding: 10px 20px;
    margin-top: 20px;
    font-size: 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}


h1 {
    color: #333;
}

.game-container {
    display: grid;
    grid-template-columns: repeat(5, 60px); /* 5 columnas de 60px cada una */
    grid-gap: 5px;
    margin: 20px auto;
    width: 300px;
    background-color: #f0f0f0;
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 5px;
}
